<div class="container">
  <div cdkDropList (dragover)="onDragOver($event)" (drop)="onDrop($event)" class="upload-area">
    <input type="file" (change)="onFileSelected($event)" #fileUpload style="display: none;">
    @if(!file){
    <p>点击或拖放文件到这里（jpg、png、xlsx、pdf）</p>
    }@else {
    <p>{{file.name}}</p>
    }
    <button mat-raised-button color="primary" (click)="fileUpload.click()">选择文件</button>
  </div>
  <div class="row-center">
    @if(progressing){
    <mat-spinner></mat-spinner>
    }@else{
    <button mat-raised-button color="accent" (click)="onUpload()" [disabled]="!file">上传文件</button>
    }
  </div>

  @if(newPasswordList.length > 0){
  <div class="content">
    <div style="display: flex; flex-direction: row; gap: 20px; align-items: center;">
      <button mat-raised-button color="primary" (click)="onPrevious()"
        [disabled]="index==0"><mat-icon>arrow_back_ios</mat-icon></button>
      <div>当前{{index+1}}条/{{newPasswordList.length}}条</div>
      <button mat-raised-button color="primary" (click)="onNext()"
        [disabled]="index===newPasswordList.length"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
    <mat-divider></mat-divider>
    <app-passwordform [passwordForm]="passwordForm" [buttonLabel]="buttonLabel"
      (submitForm)="createPassword($event)"></app-passwordform>
  </div>
  }
</div>
