@if(password){
<div class="container">
  <div class="content-wrapper">
    <div class="title">
      <h2>编辑密码</h2>
      <div style="padding-right: 1rem;">
        <div>创建时间: {{password.createdAt| date:'YYYY年MM月dd日HH时'}}</div>
        <div>更新时间: {{password.updatedAt| date:'YYYY年MM月dd日HH时'}}</div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="content">
      <app-passwordform [passwordForm]="passwordForm" [buttonLabel]="buttonLabel"
        (submitForm)="updatePassword($event)"></app-passwordform>
    </div>
  </div>
</div>
}
