<h2 mat-dialog-title>创建课程表</h2>
<div mat-dialog-content class="content">
  <div [formGroup]="courseForm" class="form">
    <mat-form-field appearance="outline">
      <mat-label>课程名称</mat-label>
      <input matInput placeholder="课程名称" formControlName="name">
      <mat-error>课程名称不能为空</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>授课教师</mat-label>
      <input matInput placeholder="授课教师" formControlName="teacherNames">
      <mat-error>授课教师不能为空</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>上课地点</mat-label>
      <input matInput placeholder="上课地点" formControlName="courseLocation">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>课程类型</mat-label>
      <input matInput placeholder="课程类型" formControlName="courseType">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>学生人数</mat-label>
      <input matInput type="number" placeholder="学生人数" formControlName="studentCount">
      <mat-error>学生人数错误</mat-error>
    </mat-form-field>

    <mat-label>背景色</mat-label>
    <div
      style="display: flex; flex-direction: row; gap: 10px; height: 30px; justify-content: center; align-items: center;">
      <color-hue-picker [color]="this.courseForm.get('color')?.value"
        (onChangeComplete)="changeColor($event)"></color-hue-picker>
      <div style="width: 30px; height: 30px; border-radius: 50%;"
        [style.background]="this.courseForm.get('color')?.value"></div>
    </div>

    <mat-label>上课周</mat-label>
    <mat-chip-listbox multiple>
      @for(week of weeks;track $index){
      <mat-chip-option color="primary" [selected]="courseWeeks.value.includes(week)"
        (click)="toggleCourseWeek(week)">{{week}}</mat-chip-option>
      }
    </mat-chip-listbox>

    <mat-label>上课时间</mat-label>
    @for(courseTime of courseTimes.controls;track $index){
    <div formArrayName="courseTimes" style="margin-top: 1rem;">
      <div [formGroupName]="$index" style="display: flex; flex-direction: row; gap: 20px; align-items: center;">
        <mat-form-field appearance="outline">
          <mat-label>上课星期</mat-label>
          <input matInput type="number" min="1" max="7" step="1" formControlName="dayOfWeek" placeholder="上课星期">
          <mat-error>上课星期错误</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>上课节次</mat-label>
          <input matInput type="number" min="1" [max]="periodLength" step="1" formControlName="start"
            placeholder="上课节次">
          <mat-error>上课节次错误</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>下课节次</mat-label>
          <input matInput type="number" min="1" [max]="periodLength" step="1" formControlName="end" placeholder="下课节次">
          <mat-error>下课节次错误</mat-error>
        </mat-form-field>
        <button mat-mini-fab matTooltip="删除上课时间" color="warn"
          (click)="removeCourseTime($index)"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
    }
    <button mat-mini-fab matTooltip="新建上课时间" color="primary" (click)="addCourseTime()"><mat-icon>add</mat-icon></button>
  </div>
</div>
<div mat-dialog-actions
  style="display:flex;flex-direction:row; gap:20px; justify-content:center; margin-bottom:0.5rem;">
  <button mat-raised-button mat-dialog-close>取消</button>
  <button mat-raised-button color="primary" (click)="save()">{{buttonLabel}}</button>
</div>
