<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <h1>重置密码</h1>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Input your email Here">
    <mat-error>邮箱错误</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="密码至少8位，且至少包含字母和数字">
    <button type="button" mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>密码至少8位，且至少包含字母和数字</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Confirm Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword"
      placeholder="密码至少8位，且至少包含字母和数字">
    <button type="button" mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>密码至少8位，且至少包含字母和数字</mat-error>
  </mat-form-field>

  <div class="w-full" style="display: flex; align-items: center; gap: 1rem; margin-bottom: 2rem;">
    <mat-form-field appearance="outline" class="w-full" style="margin-bottom: -1rem;">
      <mat-label>验证码</mat-label>
      <input matInput formControlName="code" placeholder="请输入验证码">
      <mat-error>验证码为6位的数字组合</mat-error>
    </mat-form-field>
    <button type="button" mat-raised-button color="primary" style="flex: 1 1 200px;" (click)="sendCode()"
      [disabled]="isSendingCode||countdown>0">{{isSendingCode ? '发送中' : countdown >0 ? '重新发送(' + countdown + 's)' :
      '获取验证码'}}</button>
  </div>

  <button type="submit" class="sign-in-button" mat-raised-button color="primary" [disabled]="isrResetting">重置密码</button>
</form>
