<div class="container">

  <div>
    <h2>导出专著</h2>
  </div>

  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div></div>
    <button style="margin-right:20px" mat-raised-button color="primary"
      (click)="exportSelectUGPGGuidance()">导出选中的专著</button>
  </div>

  <div style="height: 400px; overflow: auto;">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef sticky>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="studentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 学生名称 </th>
        <td mat-cell *matCellDef="let element"> {{element.studentName}}</td>
      </ng-container>

      <ng-container matColumnDef="thesisTopic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 论文题目 </th>
        <td mat-cell *matCellDef="let element"> {{element.thesisTopic}} </td>
      </ng-container>

      <ng-container matColumnDef="defenseDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 最终答辩时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.defenseDate| date: 'yyyy-MM-dd'}} </td>
      </ng-container>

      <ng-container matColumnDef="defenseResult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 最终答辩结果 </th>
        <td mat-cell *matCellDef="let element"> {{element.defenseResult}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 创建时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt| date: 'yyyy-MM-dd'}} </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 更新时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedAt| date: 'yyyy-MM-dd'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
