<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <h1>登录</h1>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Input your email Here">
    <mat-error>邮箱错误</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="密码至少8位，且至少包含字母和数字">
    <button type="button" mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error>密码至少8位，且至少包含字母和数字</mat-error>
  </mat-form-field>
  <button type="submit" class="sign-in-button" mat-raised-button color="primary" [disabled]="isSignin">登录</button>
</form>
