<div class="container">

  <div class="title">
    <h1>毕设指导</h1>
    <div style="display: flex; flex-direction: row; align-items: center; gap: 20px;">
      <a mat-flat-button color="primary" aria-label="create password" routerLink="/main/ugpgguidance/new">
        <mat-icon>add</mat-icon>
        <span>创建毕设记录</span>
      </a>
      <a mat-flat-button color="primary" aria-label="import password" routerLink="/main/ugpgguidance/preview">
        <mat-icon>upload_2</mat-icon>
        <span>导入毕设记录</span>
      </a>
    </div>
  </div>

  <div class="filter">
    <div class="sub-title">
      <h2>搜索</h2>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="SearchForm" (ngSubmit)="onSearch()" class="filter-content">
      <div class="filter-box">
        <mat-form-field appearance="outline">
          <mat-label>毕设主题</mat-label>
          <input matInput type="text" formControlName="thesisTopic" placeholder="毕设主题">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>学生姓名</mat-label>
          <input matInput type="text" formControlName="studentName" placeholder="学生姓名">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>最终答辩日期</mat-label>
          <mat-date-range-input [rangePicker]="defenseDatePicker">
            <input matStartDate formControlName="defenseDateStart" placeholder="Start date">
            <input matEndDate formControlName="defenseDateEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="defenseDatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #defenseDatePicker></mat-date-range-picker>
          @if
          (SearchForm.controls['defenseDateStart'].hasError('matStartDateInvalid')||SearchForm.controls['defenseDateEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if(SearchForm.controls['defenseDateStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if(SearchForm.controls['defenseDateEnd'].hasError('matDatepickerParse')){
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>创建时间</mat-label>
          <mat-date-range-input [rangePicker]="createdPicker">
            <input matStartDate formControlName="createdStart" placeholder="Start date">
            <input matEndDate formControlName="createdEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="createdPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #createdPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['createdStart'].hasError('matStartDateInvalid')||SearchForm.controls['createdEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['createdStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['createdEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>更新时间</mat-label>
          <mat-date-range-input [rangePicker]="updatedPicker">
            <input matStartDate formControlName="updatedStart" placeholder="Start date">
            <input matEndDate formControlName="updatedEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="updatedPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #updatedPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['updatedStart'].hasError('matStartDateInvalid')||SearchForm.controls['updatedEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['updatedStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['updatedEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="filter-operation">
        <button mat-raised-button color="primary" type="submit">
          <span>搜索</span>
        </button>
        <button mat-raised-button color="primary" (click)="clearForm()" type="button">清空表单</button>
      </div>
    </form>
  </div>


  <div class="search-result">
    <div class="sub-title">
      <h2>结果</h2>
      <button style="margin-right:20px" mat-raised-button color="primary"
        (click)="exportSelectUGPGGuidance()">导出选中的专著</button>
    </div>
    <mat-divider></mat-divider>
    <div class="result-content">
      <div style="height: 400px; width: 100%;overflow: auto;">
        <table mat-table [dataSource]="dataSource" matSort style="width: 1600px;">

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef sticky>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> 操作 </th>
            <td mat-cell *matCellDef="let element">
              <a mat-icon-button color="primary" aria-label="edit" (click)="editUGPGGuidance(element)">
                <mat-icon>edit</mat-icon>
              </a>
              <a mat-icon-button color="warn" aria-label="delete" (click)="deleteUGPGGuidance(element)">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="studentName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 学生姓名 </th>
            <td mat-cell *matCellDef="let element"> {{element.studentName}}</td>
          </ng-container>

          <ng-container matColumnDef="thesisTopic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 论文题目 </th>
            <td mat-cell *matCellDef="let element"> {{element.thesisTopic}} </td>
          </ng-container>

          <ng-container matColumnDef="openingCheckDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 开题检查日期 </th>
            <td mat-cell *matCellDef="let element"> {{element.openingCheckDate| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <ng-container matColumnDef="openingCheckResult">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 开题检查结果 </th>
            <td mat-cell *matCellDef="let element" class="ellipsis"> {{element.openingCheckResult}} </td>
          </ng-container>

          <ng-container matColumnDef="midtermCheckDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 中期检查日期 </th>
            <td mat-cell *matCellDef="let element"> {{element.midtermCheckDate| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <ng-container matColumnDef="midtermCheckResult">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 中期检查结果 </th>
            <td mat-cell *matCellDef="let element" class="ellipsis"> {{element.midtermCheckResult}} </td>
          </ng-container>

          <ng-container matColumnDef="defenseDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 最终答辩日期 </th>
            <td mat-cell *matCellDef="let element"> {{element.defenseDate| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <ng-container matColumnDef="defenseResult">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 最终答辩结果 </th>
            <td mat-cell *matCellDef="let element" class="ellipsis"> {{element.defenseResult}} </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 创建时间 </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 更新时间 </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedAt| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
