<div class="container">

  <div class="title">
    <h1>专著管理</h1>
  </div>

  <div class="filter">
    <div class="sub-title">
      <h2>搜索</h2>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="SearchForm" (ngSubmit)="onSearch()" class="filter-content">
      <div class="filter-box">
        <mat-form-field appearance="outline">
          <mat-label>专著名称</mat-label>
          <input matInput type="text" formControlName="title" placeholder="项目名称">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>内部教师</mat-label>
          <mat-chip-grid #chipGridTeachersIn aria-label="Fruit selection">
            @for(teacherIn of teachersIn.controls;track $index) {
            <mat-chip-row (removed)="removeTeachersIn($index)">
              {{teacherIn.value.username}}
              <button matChipRemove aria-label="remove">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
          </mat-chip-grid>
          <input placeholder="New Tearcher..." #teacherInInput [formControl]="teachersInCtrl"
            [matChipInputFor]="chipGridTeachersIn" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTeachersIn($event)" />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="teachersInSelected($event)">
            @for(teacherInItem of teachersInOptions;track $index) {
            <mat-option [value]="teacherInItem">
              <div class="select-item">
                <img [src]="teacherInItem.avatar" alt="Avatar" />
                <div class="select-detail">
                  <span>{{teacherInItem.username}}</span>
                  <span>{{teacherInItem.email}}</span>
                </div>
              </div>
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>外部教师</mat-label>
          <mat-chip-grid #chipGridTeachersOut aria-label="Enter fruits">
            @for(teacherOut of teachersOut.controls;track $index) {
            <mat-chip-row (removed)="removeTeachersOut($index)" [editable]="true"
              (edited)="editTeachersOut($event,$index)" aria-description="press enter to edit">
              {{teacherOut.value}}
              <button matChipRemove aria-label="remove">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
            <input placeholder="New Tearcher.." [matChipInputFor]="chipGridTeachersOut"
              (matChipInputTokenEnd)="addTeachersOut($event)" />
          </mat-chip-grid>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>出版级别</mat-label>
          <input matInput type="text" formControlName="publishLevel" placeholder="出版级别">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>排名</mat-label>
          <input matInput type="text" formControlName="rank" placeholder="排名">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>出版时间</mat-label>
          <mat-date-range-input [rangePicker]="publishDatePicker">
            <input matStartDate formControlName="publishDateStart" placeholder="Start date">
            <input matEndDate formControlName="publishDateEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="publishDatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #publishDatePicker></mat-date-range-picker>
          @if
          (SearchForm.controls['publishDateStart'].hasError('matStartDateInvalid')||SearchForm.controls['publishDateEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['publishDateStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if(SearchForm.controls['publishDateEnd'].hasError('matDatepickerParse')){
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>创建时间</mat-label>
          <mat-date-range-input [rangePicker]="createdPicker">
            <input matStartDate formControlName="createdStart" placeholder="Start date">
            <input matEndDate formControlName="createdEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="createdPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #createdPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['createdStart'].hasError('matStartDateInvalid')||SearchForm.controls['createdEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['createdStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['createdEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>更新时间</mat-label>
          <mat-date-range-input [rangePicker]="updatedPicker">
            <input matStartDate formControlName="updatedStart" placeholder="Start date">
            <input matEndDate formControlName="updatedEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="updatedPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #updatedPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['updatedStart'].hasError('matStartDateInvalid')||SearchForm.controls['updatedEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['updatedStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['updatedEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="filter-operation">
        <button mat-raised-button color="primary" type="submit">
          <span>搜索</span>
        </button>
        <button mat-raised-button color="primary" (click)="clearForm()" type="button">清空表单</button>
      </div>
    </form>
  </div>

  <div class="fab-container">
    <a mat-fab color="primary" matTooltip="创建专著记录" matTooltipPosition="left" aria-label="create password"
      routerLink="/main/monograph/new">
      <mat-icon>add</mat-icon>
    </a>
    <a mat-fab color="primary" matTooltip="导入专著记录" matTooltipPosition="left" aria-label="import password"
      routerLink="/main/password/new">
      <mat-icon>upload_2</mat-icon>
    </a>
    <a mat-fab color="primary" matTooltip="导出专著记录" matTooltipPosition="left" aria-label="export password"
      routerLink="/main/monograph/export">
      <mat-icon>download_2</mat-icon>
    </a>
  </div>

  <div class="search-result">
    <div class="sub-title">
      <h2>结果</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="result-content">
      @if(isSearching) {
      <mat-spinner></mat-spinner>
      }@else{
      @for(monograph of monographList;track $index){
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{monograph.title}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>系统内教师:
            @for(teacherIn of monograph.teachersIn;track $index;let last = $last){
            @if(last){
            {{teacherIn.username}}
            }@else {
            <span>{{teacherIn.username}}, </span>
            }
            }
          </p>
          <p>系统外教师: {{monograph.teachersOut}}</p>
          <p>出版级别: {{monograph.publishLevel}}</p>
          <p>出版时间: {{monograph.publishDate| date:'YYYY年MM月dd日HH时'}}</p>
          <p>排名: {{monograph.rank}}</p>
          <p>创建时间: {{monograph.createdAt| date:'YYYY年MM月dd日HH时'}}</p>
          <p>更新时间: {{monograph.updatedAt| date:'YYYY年MM月dd日HH时'}}</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/main/monograph/edit/{{monograph.id}}">
            <mat-icon>edit</mat-icon>
            <span>编辑</span>
          </button>
          <button mat-raised-button color="warn" (click)="deleteMonograph(monograph)">
            <mat-icon>delete</mat-icon>
            <span>删除</span>
          </button>
        </mat-card-actions>
      </mat-card>
      }@empty{
      <div>
        <h3>暂无数据</h3>
      </div>
      }
      }
    </div>
    <mat-divider></mat-divider>
    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>

</div>
