@if(classSchedule)
{
<div class="container">
  <div class="header">
    <div class="title">
      <h2>{{classSchedule.termName}}</h2>
    </div>
    <div class="action">
      <div></div>
      <div>
        <button (click)="edit()">编辑</button>
      </div>
    </div>
  </div>
  <div style="padding: 10px 40px; box-sizing: border-box; width: 100%; height: 100%;">
    <table>
      <thead>
        <tr>
          <th></th>
          @for(day of daysOfWeek;track $index){
          <th>{{day}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for(period of periods;track periodIndex; let periodIndex= $index){
        <tr>
          @for(day of daysOfWeek;track dayIndex;let dayIndex= $index){
          @if(dayIndex === 0){
          <td>{{period}}</td>
          }
          <td>
            @for(course of classSchedule.courses;track $index){
            <div>
              @for(classtime of course.courseTimes;track $index){
              <div>
                @if(classtime.dayOfWeek === dayIndex && classtime.start<= periodIndex && classtime.end>= periodIndex)
                  {
                  {{course.courseName}}
                  {{course.teacherNames}}
                  {{classtime.start}}-{{classtime.end}}
                  {{course.courseLocation}}
                  {{course.courseType}}
                  {{course.studentCount}}
                  }
              </div>
              }
            </div>
            }
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}
