@if(eduReform){
<div class="container">
  <div class="content-wrapper">
    <div class="title">
      <h2>教改项目</h2>
      <div style="padding-right: 1rem;">
        <div>创建时间: {{eduReform.createdAt| date:'YYYY年MM月dd日HH时'}}</div>
        <div>更新时间: {{eduReform.updatedAt| date:'YYYY年MM月dd日HH时'}}</div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="content">
      <app-edureformform [buttonLabel]="buttonLabel" [eduReformForm]="eduReformForm"
        (submitForm)="updateEduReform()"></app-edureformform>
    </div>
  </div>
</div>
}
