<div class="container">

  <div>
    <h2>导出专著</h2>
  </div>

  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div></div>
    <button style="margin-right:20px" mat-raised-button color="primary"
      (click)="exportSelectMonograph()">导出选中的专著</button>
  </div>

  <div style="height: 400px; overflow: auto;">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef sticky>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 专著名称 </th>
        <td mat-cell *matCellDef="let element"> {{element.title}}</td>
      </ng-container>

      <ng-container matColumnDef="teachersIn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 系统内教师 </th>
        <td mat-cell *matCellDef="let element"> {{getTeacherInNames(element.teachersIn)}} </td>
      </ng-container>

      <ng-container matColumnDef="teachersOut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 系统外教师 </th>
        <td mat-cell *matCellDef="let element"> {{element.teachersOut.join(',')}} </td>
      </ng-container>

      <ng-container matColumnDef="publishLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 出版等级 </th>
        <td mat-cell *matCellDef="let element"> {{element.publishLevel}} </td>
      </ng-container>

      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 排名 </th>
        <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 创建时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt| date: 'yyyy-MM-dd'}} </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 更新时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedAt| date: 'yyyy-MM-dd'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
