<div class="container">

  <div class="title">
    <h1>密码管理</h1>
    <div style="display: flex; flex-direction: row; align-items: center; gap: 20px; ">
      <a mat-flat-button color="primary" aria-label="create password" routerLink="/main/password/new">
        <mat-icon>add</mat-icon>
        <span>创建密码</span>
      </a>
      <a mat-flat-button color="primary" aria-label="import password" routerLink="/main/password/preview">
        <mat-icon>upload_2</mat-icon>
        <span>导入密码</span>
      </a>
    </div>
  </div>

  <div class="filter">
    <div class="sub-title">
      <h2>搜索</h2>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="SearchForm" (ngSubmit)="onSearch()" class="filter-content">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" formControlName="keyword" placeholder="搜索(url、appname、account)">
      </mat-form-field>
      <button mat-raised-button color="primary" style="margin-bottom: 20px;" [disabled]="isSearching" type="submit">
        <span>搜索</span>
      </button>
    </form>
  </div>


  <div class="search-result">
    <div class="sub-title">
      <h2>结果</h2>
      <button style="margin-right:20px" mat-raised-button color="primary"
        (click)="exportSelectPassword()">导出选中的密码</button>
    </div>
    <mat-divider></mat-divider>
    <div class="result-content">
      <div style="height: 400px; width: 100%;overflow: auto;">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef sticky>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> 操作 </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" aria-label="edit password" (click)="editPassword(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" aria-label="delete password" (click)="deletePassword(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 网站 </th>
            <td mat-cell *matCellDef="let element"> {{element.url}}</td>
          </ng-container>

          <ng-container matColumnDef="appName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 应用名称 </th>
            <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
          </ng-container>

          <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 账号 </th>
            <td mat-cell *matCellDef="let element"> {{element.account}} </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 创建时间 </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 更新时间 </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedAt| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
