<div class="container">

  <div class="title">
    <h1>密码管理</h1>
    <div class="operation">
      <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        <span>添加密码</span>
      </button>
    </div>
  </div>

  <div class="filter">
    <div class="sub-title">
      <h2>搜索</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="filter-content">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" [formControl]="searchFormControl" placeholder="搜索(url、appname、account)">
      </mat-form-field>
      <button mat-raised-button color="primary" style="margin-bottom: 20px;">
        <span>搜索</span>
      </button>
    </div>
  </div>

  <div class="search-result">
    <div class="sub-title">
      <h2>结果</h2>
      <mat-form-field>
        <mat-label>排序(默认名字)</mat-label>
        <mat-select required [(value)]="selectedValue">
          <mat-option value="0">按名称排序</mat-option>
          <mat-option value="1">按创建时间排序</mat-option>
          <mat-option value="2">按修改时间排序</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

  </div>
</div>
