<div class="container">

  <div class="title">
    <h1>密码管理</h1>
  </div>

  <div class="filter">
    <div class="sub-title">
      <h2>搜索</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="filter-content">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" [formControl]="searchFormControl" placeholder="搜索(url、appname、account)">
      </mat-form-field>
      <button mat-raised-button color="primary" style="margin-bottom: 20px;" (click)="getPasswordList()">
        <span>搜索</span>
      </button>
    </div>
  </div>

  <div class="fab-container">
    <a mat-fab color="primary" aria-label="create password" routerLink="/main/password/new">
      <mat-icon>add</mat-icon>
    </a>
    <a mat-fab color="primary" aria-label="import password" routerLink="/main/password/new">
      <mat-icon>upload_2</mat-icon>
    </a>
    <a mat-fab color="primary" aria-label="export password" routerLink="/main/password/export">
      <mat-icon>download_2</mat-icon>
    </a>
  </div>

  <div class="search-result">
    <div class="sub-title">
      <h2>结果</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="result-content">
      @for (password of passwordList; track $index) {
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="card-header">
            <h3>{{password.appName}}</h3>
            <a mat-flat-button href="{{password.url}}">{{password.url}}</a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
          <p>账号: {{password.account}}</p>
          <p>创建时间: {{password.createdAt | date:'YYYY-MM-dd-HH'}}</p>
          <p>修改时间: {{password.updatedAt | date:'YYYY-MM-dd-HH'}}</p>
        </mat-card-content>
        <mat-card-actions class="card-action">
          <button mat-raised-button color="primary" (click)="editPassword(password)">
            <mat-icon>edit</mat-icon>
            <span>编辑</span>
          </button>
          <button mat-raised-button color="warn" (click)="deletePassword(password)">
            <mat-icon>delete</mat-icon>
            <span>删除</span>
          </button>
        </mat-card-actions>
      </mat-card>
      }
    </div>
  </div>
</div>
