<div class="container">

  <div class="title">
    <h1>论文管理</h1>
    <div style="display: flex; flex-direction: row; align-items: center; gap: 20px;">
      <a mat-flat-button color="primary" aria-label="create password" routerLink="/main/paper/new">
        <mat-icon>add</mat-icon>
        <span>创建论文记录</span>
      </a>
      <a mat-flat-button color="primary" aria-label="import password" routerLink="/main/paper/preview">
        <mat-icon>upload_2</mat-icon>
        <span>导入论文记录</span>
      </a>
    </div>
  </div>

  <div class="filter">
    <div class="sub-title">
      <h2>搜索</h2>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="SearchForm" (ngSubmit)="onSearch()" class="filter-content">
      <div class="filter-box">
        <mat-form-field appearance="outline">
          <mat-label>题目</mat-label>
          <input matInput type="text" formControlName="title" placeholder="题目">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>内部教师</mat-label>
          <mat-chip-grid #chipGridTeachersIn aria-label="Fruit selection">
            @for(teacherIn of teachersIn.controls;track $index) {
            <mat-chip-row (removed)="removeTeachersIn($index)">
              {{teacherIn.value.username}}
              <button matChipRemove aria-label="remove">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
          </mat-chip-grid>
          <input placeholder="New Tearcher..." #teacherInInput [formControl]="teachersInCtrl"
            [matChipInputFor]="chipGridTeachersIn" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTeachersIn($event)" />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="teachersInSelected($event)">
            @for(teacherInItem of teachersInOptions;track $index) {
            <mat-option [value]="teacherInItem">
              <div class="select-item">
                <img [src]="teacherInItem.avatar" alt="Avatar" />
                <div class="select-detail">
                  <span>{{teacherInItem.username}}</span>
                  <span>{{teacherInItem.email}}</span>
                </div>
              </div>
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>外部教师</mat-label>
          <mat-chip-grid #chipGridTeachersOut aria-label="Enter fruits">
            @for(teacherOut of teachersOut.controls;track $index) {
            <mat-chip-row (removed)="removeTeachersOut($index)" [editable]="true"
              (edited)="editTeachersOut($event,$index)" aria-description="press enter to edit">
              {{teacherOut.value}}
              <button matChipRemove aria-label="remove">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
            <input placeholder="New Tearcher.." [matChipInputFor]="chipGridTeachersOut"
              (matChipInputTokenEnd)="addTeachersOut($event)" />
          </mat-chip-grid>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>排名</mat-label>
          <input matInput type="text" formControlName="rank" placeholder="排名">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>期刊名称</mat-label>
          <input matInput type="text" formControlName="journalName" placeholder="期刊名称">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>期刊级别</mat-label>
          <input matInput type="text" formControlName="journalLevel" placeholder="期刊级别">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>发表日期</mat-label>
          <mat-date-range-input [rangePicker]="publishDatePicker">
            <input matStartDate formControlName="publishDateStart" placeholder="Start date">
            <input matEndDate formControlName="publishDateEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="publishDatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #publishDatePicker></mat-date-range-picker>
          @if
          (SearchForm.controls['publishDateStart'].hasError('matStartDateInvalid')||SearchForm.controls['publishDateEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['publishDateStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['publishDateEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>创建时间</mat-label>
          <mat-date-range-input [rangePicker]="createdPicker">
            <input matStartDate formControlName="createdStart" placeholder="Start date">
            <input matEndDate formControlName="createdEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="createdPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #createdPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['createdStart'].hasError('matStartDateInvalid')||SearchForm.controls['createdEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['createdStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['createdEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>更新时间</mat-label>
          <mat-date-range-input [rangePicker]="updatedPicker">
            <input matStartDate formControlName="updatedStart" placeholder="Start date">
            <input matEndDate formControlName="updatedEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="updatedPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #updatedPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['updatedStart'].hasError('matStartDateInvalid')||SearchForm.controls['updatedEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['updatedStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['updatedEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="filter-operation">
        <button mat-raised-button color="primary" type="submit">
          <span>搜索</span>
        </button>
        <button mat-raised-button color="primary" (click)="clearForm()" type="button">清空表单</button>
      </div>
    </form>
  </div>

  <div class="search-result">
    <div class="sub-title">
      <h2>结果</h2>
      <button style="margin-right:20px" mat-raised-button color="primary" (click)="exportSelectPaper()">导出选中的论文</button>
    </div>
    <mat-divider></mat-divider>
    <div class="result-content">
      <div style="height: 400px;width:100%; overflow: auto;">
        <table mat-table [dataSource]="dataSource" matSort style="width: 1500px;">

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef sticky>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> 操作 </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" aria-label="edit" (click)="editPaper(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" aria-label="delete" (click)="deletePaper(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 论文题目 </th>
            <td mat-cell *matCellDef="let element"> {{element.title}}</td>
          </ng-container>

          <ng-container matColumnDef="teachersIn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 系统内教师 </th>
            <td mat-cell *matCellDef="let element"> {{getTeacherInNames(element.teachersIn)}} </td>
          </ng-container>

          <ng-container matColumnDef="teachersOut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 系统外教师 </th>
            <td mat-cell *matCellDef="let element"> {{element.teachersOut?.join(',')}} </td>
          </ng-container>

          <ng-container matColumnDef="publishDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 发表日期 </th>
            <td mat-cell *matCellDef="let element"> {{element.publishDate| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <ng-container matColumnDef="journalName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 期刊名称 </th>
            <td mat-cell *matCellDef="let element"> {{element.journalName}} </td>
          </ng-container>

          <ng-container matColumnDef="journalLevel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 期刊级别 </th>
            <td mat-cell *matCellDef="let element"> {{element.journalLevel}} </td>
          </ng-container>

          <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 排名 </th>
            <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 创建时间 </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 更新时间 </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedAt| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>

</div>
