<div class="container">

  <div class="title">
    <h1>论文管理</h1>
  </div>

  <div class="filter">
    <div class="sub-title">
      <h2>搜索</h2>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="SearchForm" (ngSubmit)="onSearch()" class="filter-content">
      <div class="filter-box">
        <mat-form-field appearance="outline">
          <mat-label>题目</mat-label>
          <input matInput type="text" formControlName="title" placeholder="题目">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>内部教师</mat-label>
          <mat-chip-grid #chipGridTeachersIn aria-label="Fruit selection">
            @for(teacherIn of teachersIn.controls;track $index) {
            <mat-chip-row (removed)="removeTeachersIn($index)">
              {{teacherIn.value.username}}
              <button matChipRemove aria-label="remove">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
          </mat-chip-grid>
          <input placeholder="New Tearcher..." #teacherInInput [formControl]="teachersInCtrl"
            [matChipInputFor]="chipGridTeachersIn" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTeachersIn($event)" />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="teachersInSelected($event)">
            @for(teacherInItem of teachersInOptions;track $index) {
            <mat-option [value]="teacherInItem">
              <div class="select-item">
                <img [src]="teacherInItem.avatar" alt="Avatar" />
                <div class="select-detail">
                  <span>{{teacherInItem.username}}</span>
                  <span>{{teacherInItem.email}}</span>
                </div>
              </div>
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>外部教师</mat-label>
          <mat-chip-grid #chipGridTeachersOut aria-label="Enter fruits">
            @for(teacherOut of teachersOut.controls;track $index) {
            <mat-chip-row (removed)="removeTeachersOut($index)" [editable]="true"
              (edited)="editTeachersOut($event,$index)" aria-description="press enter to edit">
              {{teacherOut.value}}
              <button matChipRemove aria-label="remove">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
            <input placeholder="New Tearcher.." [matChipInputFor]="chipGridTeachersOut"
              (matChipInputTokenEnd)="addTeachersOut($event)" />
          </mat-chip-grid>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>排名</mat-label>
          <input matInput type="text" formControlName="rank" placeholder="排名">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>期刊名称</mat-label>
          <input matInput type="text" formControlName="journalName" placeholder="期刊名称">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>期刊级别</mat-label>
          <input matInput type="text" formControlName="journalLevel" placeholder="期刊级别">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>发表时间</mat-label>
          <mat-date-range-input [rangePicker]="publishDatePicker">
            <input matStartDate formControlName="publishDateStart" placeholder="Start date">
            <input matEndDate formControlName="publishDateEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="publishDatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #publishDatePicker></mat-date-range-picker>
          @if
          (SearchForm.controls['publishDateStart'].hasError('matStartDateInvalid')||SearchForm.controls['publishDateEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['publishDateStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['publishDateEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>创建时间</mat-label>
          <mat-date-range-input [rangePicker]="createdPicker">
            <input matStartDate formControlName="createdStart" placeholder="Start date">
            <input matEndDate formControlName="createdEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="createdPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #createdPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['createdStart'].hasError('matStartDateInvalid')||SearchForm.controls['createdEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['createdStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['createdEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>更新时间</mat-label>
          <mat-date-range-input [rangePicker]="updatedPicker">
            <input matStartDate formControlName="updatedStart" placeholder="Start date">
            <input matEndDate formControlName="updatedEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="updatedPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #updatedPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['updatedStart'].hasError('matStartDateInvalid')||SearchForm.controls['updatedEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['updatedStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['updatedEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="filter-operation">
        <button mat-raised-button color="primary" type="submit">
          <span>搜索</span>
        </button>
        <button mat-raised-button color="primary" (click)="clearForm()" type="button">清空表单</button>
      </div>
    </form>
  </div>

  <div class="fab-container">
    <a mat-fab color="primary" matTooltip="创建论文记录" matTooltipPosition="left" aria-label="create password"
      routerLink="/main/paper/new">
      <mat-icon>add</mat-icon>
    </a>
    <a mat-fab color="primary" matTooltip="导入论文记录" matTooltipPosition="left" aria-label="import password"
      routerLink="/main/paper/preview">
      <mat-icon>upload_2</mat-icon>
    </a>
    <a mat-fab color="primary" matTooltip="导出论文记录" matTooltipPosition="left" aria-label="export password"
      routerLink="/main/paper/export/{{totalCount}}">
      <mat-icon>download_2</mat-icon>
    </a>
  </div>

  <div class="search-result">
    <div class="sub-title">
      <h2>结果</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="result-content">
      @if(isSearching){
      <mat-spinner></mat-spinner>
      }@else {
      @for(paper of paperList;track $index) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{paper.title}}</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>系统内教师:
            @for(teacherIn of paper.teachersIn;track $index;let last = $last){
            @if(last){
            <span>{{teacherIn.username}}</span>
            }@else {
            <span>{{teacherIn.username}}, </span>
            }
            }
          </p>
          <p>系统外教师: {{paper.teachersOut}}</p>
          <p>排名: {{paper.rank}}</p>
          <p>期刊名称: {{paper.journalName}}</p>
          <p>期刊级别: {{paper.journalLevel}}</p>
          <p>发表时间: {{paper.publishDate| date:'YYYY年MM月dd日HH时'}}</p>
          <p>创建时间: {{paper.createdAt| date:'YYYY年MM月dd日HH时'}}</p>
          <p>更新时间: {{paper.updatedAt| date:'YYYY年MM月dd日HH时'}}</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/main/paper/edit/{{paper.id}}">
            <mat-icon>edit</mat-icon>
            <span>编辑</span>
          </button>
          <button mat-raised-button color="warn" (click)="deletePaper(paper)">
            <mat-icon>delete</mat-icon>
            <span>删除</span>
          </button>
        </mat-card-actions>
      </mat-card>
      }@empty{
      <div>
        <h3>暂无数据</h3>
      </div>
      }
      }
    </div>
    <mat-divider></mat-divider>
    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>

</div>
