<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="form-content">
    <mat-form-field appearance="outline">
      <mat-label>URL</mat-label>
      <input type="text" matInput formControlName="url" placeholder="Input your url Here">
      @if(passwordForm.get('url')!.touched && passwordForm.get('url')!.errors){
      <mat-error>URL格式错误</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>AppName</mat-label>
      <input type="text" matInput formControlName="appName" placeholder="Input your appName Here">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Account</mat-label>
      <input type="text" matInput formControlName="account" placeholder="Input your account Here">
      @if(passwordForm.get('account')!.touched && passwordForm.get('account')!.errors){
      <mat-error>账号不能为空</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input [type]="hide ? 'password' : 'text' " matInput formControlName="password"
        placeholder="Input your passwordHere">
      <button type="button" mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if(passwordForm.get('password')!.touched && passwordForm.get('password')!.errors){
      <mat-error>密码不能为空</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>description</mat-label>
      <textarea type="text" matInput formControlName="description" placeholder=" Input your description Here"></textarea>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div class="form-submit">
    <button type="submit" mat-raised-button color="primary">
      {{buttonLabel}}
    </button>
  </div>
</form>
