<div class="container">

  <div class="title">
    <h1>竞赛指导</h1>
    <div style="display: flex; flex-direction: row; align-items: center; gap: 20px;">
      <a mat-flat-button color="primary" aria-label="create competition guidance"
        routerLink="/main/competitionguidance/new">
        <mat-icon>add</mat-icon>
        <span>创建竞赛指导</span>
      </a>
      <a mat-flat-button color="primary" aria-label="import competition guidance"
        routerLink="/main/competitionguidance/preview">
        <mat-icon>upload_2</mat-icon>
        <span>导入竞赛指导</span>
      </a>
    </div>
  </div>

  <div class="filter">
    <div class="sub-title">
      <h2>搜索</h2>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="SearchForm" (ngSubmit)="onSearch()" class="filter-content">
      <div class="filter-box">
        <mat-form-field appearance="outline">
          <mat-label>项目名称</mat-label>
          <input matInput type="text" formControlName="projectName" placeholder="项目名称">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>学生姓名</mat-label>
          <mat-chip-grid #chipGrid aria-label="Enter fruits">
            @for(studentName of studentNames.controls;track $index) {
            <mat-chip-row (removed)="removeStudentName($index)" [editable]="true"
              (edited)="editStudentName( $event,$index)" aria-description="press enter to edit">
              {{studentName.value}}
              <button matChipRemove aria-label="remove">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
            <input placeholder="New StudentName..." [matChipInputFor]="chipGrid"
              (matChipInputTokenEnd)="addStudentName($event)" />
          </mat-chip-grid>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>获奖情况</mat-label>
          <input matInput type="text" formControlName="awardStatus" placeholder="项目成绩">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>项目时间</mat-label>
          <mat-date-range-input [rangePicker]="guidanceDatePicker">
            <input matStartDate formControlName="guidanceDateStart" placeholder="Start date">
            <input matEndDate formControlName="guidanceDateEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="guidanceDatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #guidanceDatePicker></mat-date-range-picker>
          @if
          (SearchForm.controls['guidanceDateStart'].hasError('matStartDateInvalid')||SearchForm.controls['guidanceDateEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if(SearchForm.controls['guidanceDateStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if(SearchForm.controls['guidanceDateEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>创建时间</mat-label>
          <mat-date-range-input [rangePicker]="createdPicker">
            <input matStartDate formControlName="createdStart" placeholder="Start date">
            <input matEndDate formControlName="createdEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="createdPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #createdPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['createdStart'].hasError('matStartDateInvalid')||SearchForm.controls['createdEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['createdStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['createdEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>更新时间</mat-label>
          <mat-date-range-input [rangePicker]="updatedPicker">
            <input matStartDate formControlName="updatedStart" placeholder="Start date">
            <input matEndDate formControlName="updatedEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="updatedPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #updatedPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['updatedStart'].hasError('matStartDateInvalid')||SearchForm.controls['updatedEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['updatedStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['updatedEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="filter-operation">
        <button mat-raised-button color="primary" type="submit">
          <span>搜索</span>
        </button>
        <button mat-raised-button color="primary" (click)="clearForm()" type="button">清空表单</button>
      </div>
    </form>
  </div>

  <div class="search-result">
    <div class="sub-title">
      <h2>结果</h2>
      <button style="margin-right:20px" mat-raised-button color="primary"
        (click)="exportSeletedSchedule()">导出选中竞赛指导</button>
    </div>
    <mat-divider></mat-divider>
    <div class="result-content">
      <div style="height: 400px;width:100%; overflow: auto;">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef sticky>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> 操作 </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="editCompGuidance(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteCompGuidance(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="projectName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 项目名称 </th>
            <td mat-cell *matCellDef="let element"> {{element.projectName}}</td>
          </ng-container>

          <ng-container matColumnDef="studentNames">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 学生姓名 </th>
            <td mat-cell *matCellDef="let element"> {{element.studentNames.join(',')}} </td>
          </ng-container>

          <ng-container matColumnDef="competitionScore">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 竞赛成绩 </th>
            <td mat-cell *matCellDef="let element"> {{element.competitionScore}} </td>
          </ng-container>

          <ng-container matColumnDef="guidanceDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 指导日期 </th>
            <td mat-cell *matCellDef="let element"> {{element.guidanceDate| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <ng-container matColumnDef="awardStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 获奖状态 </th>
            <td mat-cell *matCellDef="let element"> {{element.awardStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 项目创建时间 </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 项目更新时间 </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedAt| date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>

</div>
