<div class="container">

  <div class="title">
    <h1>竞赛指导</h1>
  </div>

  <div class="filter">
    <div class="sub-title">
      <h2>搜索</h2>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="SearchForm" (ngSubmit)="onSearch()" class="filter-content">
      <div class="filter-box">
        <mat-form-field appearance="outline">
          <mat-label>项目名称</mat-label>
          <input matInput type="text" formControlName="projectName" placeholder="项目名称">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>学生姓名</mat-label>
          <mat-chip-grid #chipGrid aria-label="Enter fruits">
            @for(studentName of studentNames.controls;track $index) {
            <mat-chip-row (removed)="removeStudentName($index)" [editable]="true"
              (edited)="editStudentName( $event,$index)" aria-description="press enter to edit">
              {{studentName.value}}
              <button matChipRemove aria-label="remove">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
            <input placeholder="New StudentName..." [matChipInputFor]="chipGrid"
              (matChipInputTokenEnd)="addStudentName($event)" />
          </mat-chip-grid>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>获奖情况</mat-label>
          <input matInput type="text" formControlName="awardStatus" placeholder="项目成绩">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>项目时间</mat-label>
          <mat-date-range-input [rangePicker]="guidanceDatePicker">
            <input matStartDate formControlName="guidanceDateStart" placeholder="Start date">
            <input matEndDate formControlName="guidanceDateEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="guidanceDatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #guidanceDatePicker></mat-date-range-picker>
          @if
          (SearchForm.controls['guidanceDateStart'].hasError('matStartDateInvalid')||SearchForm.controls['guidanceDateEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if(SearchForm.controls['guidanceDateStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if(SearchForm.controls['guidanceDateEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>创建时间</mat-label>
          <mat-date-range-input [rangePicker]="createdPicker">
            <input matStartDate formControlName="createdStart" placeholder="Start date">
            <input matEndDate formControlName="createdEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="createdPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #createdPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['createdStart'].hasError('matStartDateInvalid')||SearchForm.controls['createdEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['createdStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['createdEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>更新时间</mat-label>
          <mat-date-range-input [rangePicker]="updatedPicker">
            <input matStartDate formControlName="updatedStart" placeholder="Start date">
            <input matEndDate formControlName="updatedEnd" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="updatedPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #updatedPicker></mat-date-range-picker>
          @if
          (SearchForm.controls['updatedStart'].hasError('matStartDateInvalid')||SearchForm.controls['updatedEnd'].hasError('matEndDateInvalid'))
          {
          <mat-error>开始日期晚于结束日期</mat-error>
          }
          @if (SearchForm.controls['updatedStart'].hasError('matDatepickerParse')) {
          <mat-error>开始日期格式错误</mat-error>
          }
          @if (SearchForm.controls['updatedEnd'].hasError('matDatepickerParse')) {
          <mat-error>结束日期格式错误</mat-error>
          }
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="filter-operation">
        <button mat-raised-button color="primary" type="submit">
          <span>搜索</span>
        </button>
        <button mat-raised-button color="primary" (click)="clearForm()" type="button">清空表单</button>
      </div>
    </form>
  </div>

  <div class="fab-container">
    <a mat-fab color="primary" matTooltip="创建竞赛指导" matTooltipPosition="left" aria-label="create competition guidance"
      routerLink="/main/competitionguidance/new">
      <mat-icon>add</mat-icon>
    </a>
    <a mat-fab color="primary" matTooltip="导入竞赛指导" matTooltipPosition="left" aria-label="import competition guidance"
      routerLink="/main/password/new">
      <mat-icon>upload_2</mat-icon>
    </a>
    <a mat-fab color="primary" matTooltip="导出竞赛指导" matTooltipPosition="left" aria-label="export competition guidance"
      routerLink="/main/competitionguidance/export">
      <mat-icon>download_2</mat-icon>
    </a>
  </div>

  <div class="search-result">
    <div class="sub-title">
      <h2>结果</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="result-content">
      @if(isSearching){
      <mat-spinner></mat-spinner>
      }@else{
      @for(compGuidance of compGuidanceList;track $index) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{compGuidance.projectName}}</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>学生姓名: {{compGuidance.studentNames}}</p>
          <p>竞赛得分: {{compGuidance.competitionScore}}</p>
          <p>获奖情况: {{compGuidance.awardStatus}}</p>
          <p>项目时间: {{compGuidance.guidanceDate| date:'YYYY年MM月dd日HH时'}}</p>
          <p>创建时间: {{compGuidance.createdAt| date:'YYYY年MM月dd日HH时'}}</p>
          <p>更新时间: {{compGuidance.updatedAt| date:'YYYY年MM月dd日HH时'}}</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/main/competitionguidance/edit/{{compGuidance.id}}">
            <mat-icon>edit</mat-icon>
            <span>编辑</span>
          </button>
          <button mat-raised-button color="warn" (click)="deleteCompGuidance(compGuidance)">
            <mat-icon>delete</mat-icon>
            <span>删除</span>
          </button>
        </mat-card-actions>
      </mat-card>
      }@empty {
      <div>
        <h3>暂无数据</h3>
      </div>
      }
      }
    </div>
    <mat-divider></mat-divider>
    <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)" aria-label="Select page">
    </mat-paginator>
  </div>

</div>
