<div class="container">
  <mat-toolbar color="primary">
    <button mat-icon-button [style.display]="isSmallMode ? 'block' : 'none' " (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left:0.5rem;">教研管理系统</span>
    <span class="spacer"></span>
    <app-userpannel></app-userpannel>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container">
    <mat-drawer [mode]="isSmallMode ? 'over' : 'side' " [opened]="isDrawerOpen" [style.width]="drawerWidth ">
      @for (menus of menuItems; track $index) {
      <mat-nav-list>
        @if($index > 0){
        <mat-divider></mat-divider>
        }
        <h3 mat-subheader style="user-select: none;">{{menus.title}}</h3>
        @for (item of menus.links; track $index) {
        <a mat-list-item routerLink="{{item.path}}" [activated]="isActive(item.path)"
          (mousedown)="$event.preventDefault()" class="custom-list-item" (click)="closeDrawer()">{{item.name}}</a>

        }
      </mat-nav-list>
      }
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet />
    </mat-drawer-content>
  </mat-drawer-container>
</div>
