.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer-container {
  width: 100%;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

mat-drawer {
  height: 100%;
  flex: 0 0 auto;
}

h3[mat-subheader] {
  font-size: 1.2em;
  color: #348177;
  margin-bottom: 0px;
}

.custom-list-item {
  -webkit-user-select: none;
  user-select: none;
  line-height: 0.5;
  padding-left: 30px;
}
