form {
  width: 100%;
}

mat-divider {
  margin: 20px 0;
  border-top-width: 2px;
}

.form-content {
  display: flex;
  flex-wrap: wrap;

  mat-form-field {
    flex: 1 0 50%;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  @media screen and (max-width: 600px) {
    mat-form-field {
      flex: 1 0 100%;
    }
  }
}

.form-submit {
  display: flex;
  justify-content: center;
}
