<div class="container">
  <div class="title">
    <h1>课程表管理</h1>
  </div>

  <div class="fab-container">
    <a mat-fab color="primary" aria-label="create password" routerLink="/main/classschedule/new">
      <mat-icon>add</mat-icon>
    </a>
    <a mat-fab color="primary" aria-label="import password" routerLink="/main/classschedule/new">
      <mat-icon>upload_2</mat-icon>
    </a>
    <a mat-fab color="primary" aria-label="export password" routerLink="/main/classschedule/export">
      <mat-icon>download_2</mat-icon>
    </a>
  </div>

  <div>

  </div>
</div>
