.container {
  width: 100%;
  height: calc(100vh - 120rpx);
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 10rpx;
  width: 100%;
  background-color: white;
  padding: 20rpx;
  border-radius: 20rpx;
  box-sizing: border-box;
  padding: 20rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rpx;
  .avatar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  Text {
    color: gray;
  }
}

.actions {
  width: 100%;
  margin-top: 20rpx;
  padding: 20rpx;
  border-radius: 20rpx;
  box-sizing: border-box;
  background-color: white;
}

.bottom {
  width: 100%;
  margin-top: 40rpx;
}

Divider {
}
